@model CineAvanzada.Models.Promociones
@{
	ViewBag.Title = "Promociones";
}
<h2>Promociones</h2>
<html lang="en">
<head>
	<meta charset="utf-8" /><!-- este meta sirve para definir el charset a utf-8 y asi mostrar caracteres del idioma español -->
	<title>Cine</title>
	<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
	<link rel="stylesheet" href="sss/sss.css">
	<link rel="stylesheet" href="estilos.css">
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
	<script src="sss/sss.js"></script>
	@Styles.Render("~/Content/css")
	<script>
		jQuery(function ($) {
			$('.slider-testimonial').sss({
				slideShow: true,
				speed: 3500
			});
		});
	</script>
</head>
<body>
    <div class="text-center">
        <h2>@Model.PuntosUsuario puntos disponibles</h2>
    </div>
	<div class="wrapper">
		<div class="slider-testimonial">
			@foreach (var Promocion in Model.ListaPromociones)
			{
				<div class="testimonial-item">
					<div class="testimonial-cl00000ient text-center">
						<img src=@Promocion.Imagen width="250" height="200" />
						<p class="client-name"> Nombre: @Promocion.Nombre<br> </p>
					</div>
					<div class="testimonial-text">
						<p>Descripcion: @Promocion.Descripcion<br></p>
						<p>Puntos Requeridos: @Promocion.PuntosRequeridos<br></p>
						@if (Promocion.PuntosRequeridos <= Model.PuntosUsuario)
                        {
                            <div class="text-center">
                                @foreach (var Tanda in Model.ListaTandas)
                                {
                                    if (Tanda.idTanda == Promocion.Tandas_idTanda)
                                    {
                                        @Html.ActionLink(linkText: Tanda.Fecha.ToString(), actionName: "CantidadEntradas",
                                    controllerName: "Cartelera", routeValues: new
                                    {
                                        idTanda = Tanda.idTanda,
                                        Peliculas_idPelicula = Tanda.Peliculas_idPelicula,
                                        Salas_idSala = Tanda.Salas_idSala,
                                        Fecha = Tanda.Fecha,
                                        AsientosDisponibles = Tanda.AsientosDisponibles,
                                        PrecioAdulto = Tanda.PrecioAdulto,
                                        PrecioNino = Tanda.PrecioNino,
                                        PrecioAdultoMayor = Tanda.PrecioAdultoMayor,
                                        descuento = Promocion.Descuento,
                                        Promocion = true,
                                        PuntosMenos = Promocion.PuntosRequeridos
                                    }, htmlAttributes: new { @class = "btn btn-primary" })
                                    }
                                }
                            </div>
                        }
                    </div>
				</div>
			}
		</div>
	</div>
</body>
</html>

