@model CineAvanzada.Models.Compra
@{
    ViewBag.Title = "Compra";
    int contador = 1;
    int cantidadEntradas = Model.TotalEntradas;
}
<head>
    @Styles.Render("~/Content/css")
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script>
        $(function () {
            $(".butacas").click(function () {
                var TotalEntradas = parseInt($("#TotalEntradas").val());
                var cantidadSeleccionada = 0;
                for (var i = 1; i <= 100; i++) {
                    if ($("#chk" + i).prop('checked')) {
                        cantidadSeleccionada++;
                    }
                }
                if (cantidadSeleccionada < TotalEntradas) {

                    if ($(this).hasClass('boton_AsientoLibre')) {
                        $(this).removeClass('boton_AsientoLibre');
                        $(this).addClass('boton_AsientoEscogido');
                        $("#chk" + $(this).val()).prop('checked', true);
                    } else {
                        $(this).removeClass('boton_AsientoEscogido');
                        $(this).addClass('boton_AsientoLibre');
                        $("#chk" + $(this).val()).prop('checked', false);
                    }
                } else {
                    if ($(this).hasClass('boton_AsientoEscogido')) {
                        $(this).removeClass('boton_AsientoEscogido');
                        $(this).addClass('boton_AsientoLibre');
                        $("#chk" + $(this).val()).prop('checked', false);
                    }
                }
            });
            $("#RealizarPago").click(function () {
                var TotalEntradas = parseInt($("#TotalEntradas").val());
                var cantidadSeleccionada = 0;
                for (var i = 1; i <= 100; i++) {
                    if ($("#chk" + i).prop('checked')) {
                        cantidadSeleccionada++;
                    }
                }
                if (cantidadSeleccionada != 0 && cantidadSeleccionada < TotalEntradas) {
                    return false;
                }
            });
        })
    </script>
</head>
<body>
    @if (Model.Pelicula != null && Model.AsientosReservados != null)
    {
        <div class="text-center">
            <h2>Sala @Model.Tanda.Salas_idSala</h2>
            <h3>Quedan @Model.Tanda.AsientosDisponibles asientos disponibles</h3>
            <h3>Seleccione los asientos que desea</h3>
        </div>
        <br><br>
        <div class="text-center">
            <input class="boton_AsientoReservado" value="Reservado" disabled />
            <input class="boton_AsientoLibre" value="Libre" disabled />
            <input class="boton_AsientoEscogido" value="Escogido" disabled />
        </div>
        <div>
            <input id="TotalEntradas" type="text" value="@Model.TotalEntradas" style="display:none" />
        </div>
        <br><br>
        <div class="text-center">
            <button class="boton_Pantalla" disabled>Pantalla</button>
            <br><br />
            @for (int i = 0; i < 10; i++)
            {
                for (int j = 0; j < 10; j++)
                {
                    bool bandera = false;
                    foreach (var Asiento in Model.AsientosReservados)
                    {
                        if (contador == Asiento.idAsiento)
                        {
                            <input class="boton_AsientoReservado" value="@contador" id="AsientoSalaOcupado" disabled />
                            contador++;
                            //if (bandera)
                            //{
                            //    j++;
                            //}
                            bandera = true;
                            break;
                        }
                    }
                    if (bandera == false)
                    {
                        if (cantidadEntradas > 0)
                        {
                            <input id="@contador.ToString()" type="button" class="butacas boton_AsientoEscogido" value=@contador />
                            contador++;
                            cantidadEntradas--;
                        }
                        else
                        {
                            <input id="@contador.ToString()" type="button" class="butacas boton_AsientoLibre" value=@contador />
                            contador++;
                        }
                    }
                }
            }
        </div>
        <br><br><br><br>
        <div class="text-center">
            @using (Html.BeginForm("Pago", "Cartelera"))
            {
                contador = 1;
                cantidadEntradas = Model.TotalEntradas;
                for (int i = 0; i < 10; i++)
                {
                    for (int j = 0; j < 10; j++)
                    {
                        bool bandera = false;
                        foreach (var Asiento in Model.AsientosReservados)
                        {
                            if (contador == Asiento.idAsiento)
                            {
                                <input type="checkbox" name="asientos" value="@contador" disabled style="display:none" />
                                contador++;
                                //if (bandera)
                                //{
                                //    j++;
                                //}
                                bandera = true;
                                break;
                            }
                        }
                        if (bandera == false)
                        {
                            if (cantidadEntradas > 0)
                            {
                                <input type="checkbox" id='@("chk"+contador)' name="asientos" value="@contador" checked style="display:none" />
                                contador++;
                                cantidadEntradas--;
                            }
                            else
                            {
                                <input type="checkbox" id='@("chk"+contador)' name="asientos" value="@contador" style="display:none" />
                                contador++;
                                cantidadEntradas--;
                            }

                        }
                    }
                }
                <br>
                <button id="RealizarPago" type="submit" class="btn btn-primary">Realizar Pago</button>
            }
        </div>
    }
</body>