@model CineAvanzada.Models.Compra
@{
    ViewBag.Title = "Compra";
    int contador = 1;
}
<head>
    @Styles.Render("~/Content/css")
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script>
        $(function () {
            $(".butacas").click(function () {
                if ($(this).hasClass('boton_AsientoLibre')) {
                    $(this).removeClass('boton_AsientoLibre');
                    $(this).addClass('boton_AsientoEscogido');
                } else {
                    $(this).removeClass('boton_AsientoEscogido');
                    $(this).addClass('boton_AsientoLibre');
                }
            });
        })
    </script>
</head>
<body>
    @if (Model.Pelicula != null && Model.AsientosReservados != null)
    {
        <div class="text-center">
            <h2>Sala @Model.Tanda.Salas_idSala</h2>
            <h3>Quedan @Model.Tanda.AsientosDisponibles asientos disponibles</h3>
            <h3>Seleccione los asientos que desea</h3>
        </div>
        <br><br>
        <div class="text-center">
            <input class="boton_AsientoReservado" value="Reservado" disabled />
            <input class="boton_AsientoLibre" value="Libre"disabled />
            <input class="boton_AsientoEscogido" value="Escogido" disabled />
        </div>
        <br><br>
        <div class="text-center">
            <button class="boton_Pantalla" disabled>Pantalla</button>
            <br><br />
            @for (int i = 0; i < 10; i++)
            {
                for (int j = 0; j < 10; j++)
                {
                    bool bandera = false;
                    foreach (var Asiento in Model.AsientosReservados)
                    {
                        if (contador == Asiento.idAsiento)
                        {
                            <input class="boton_AsientoReservado" value="@contador" id="AsientoSalaOcupado" disabled />
                            contador++;
                            bandera = true;
                        }
                    }
                    if (bandera == false)
                    {
                        <input id="@contador.ToString()" type="button" class="butacas boton_AsientoLibre" value=@contador />
                        contador++;
                    }
                }
            }
        </div>
        <br><br><br><br>
        <div class="text-center">
            @using (Html.BeginForm("Pago", "Cartelera"))
            {
                contador = 1;
                for (int i = 0; i < 10; i++)
                {
                    for (int j = 0; j < 10; j++)
                    {
                        bool bandera = false;
                        foreach (var Asiento in Model.AsientosReservados)
                        {
                            if (contador == Asiento.idAsiento)
                            {
                                <label>@contador<input type="checkbox" name="asientos" value="@contador" disabled /></label>
                                contador++;
                                bandera = true;
                            }
                        }
                        if (bandera == false)
                        {
                            <label>@contador<input type="checkbox" name="asientos" value="@contador" /></label>
                            contador++;
                        }
                    }
                }
                <button type="submit" class="btn btn-primary">Realizar Pago</button>
            }
        </div>
    }
</body>