@model CineAvanzada.Models.Compra
@{
    ViewBag.Title = "Compra";
    int contador = 1;
}
<head>
    @Styles.Render("~/Content/css")
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script>
        $(function () {
            $(".butacas").click(function () {
                if ($(this).hasClass('boton_AsientoLibre')) {
                    $(this).removeClass('boton_AsientoLibre');
                    $(this).addClass('boton_AsientoEscogido');
                } else {
                    $(this).removeClass('boton_AsientoEscogido');
                    $(this).addClass('boton_AsientoLibre');
                }
            });
        })
    </script>
</head>
<body>
    @if (Model.Pelicula != null && Model.AsientosReservados != null)
    {
        <h2>Sala @Model.Tanda.Salas_idSala</h2>
        <h3>Quedan @Model.Tanda.AsientosDisponibles asientos disponibles</h3>
        <h3>Seleccione los asientos que desea</h3>
        <br><br>
        for (int i = 0; i < 10; i++)
        {
            for (int j = 0; j < 10; j++)
            {
                bool bandera = false;
                foreach (var Asiento in Model.AsientosReservados)
                {
                    if (contador == Asiento.idAsiento)
                    {
                        <input class="boton_AsientoReservado" value="@contador" id="AsientoSalaOcupado" disabled />
                        contador++;
                        bandera = true;
                    }
                }
                if (bandera == false)
                {
                    <input id="@contador.ToString()" type="button" class="butacas boton_AsientoLibre" value=@contador />
                    contador++;
                }
            }
        }
        <br><br><br><br>
        using (Html.BeginForm("Pago", "Cartelera"))
        {
            contador = 1;
            for (int i = 0; i < 10; i++)
            {
                for (int j = 0; j < 10; j++)
                {
                    bool bandera = false;
                    foreach (var Asiento in Model.AsientosReservados)
                    {
                        if (contador == Asiento.idAsiento)
                        {
                            <label>
                                @contador
                                <input type="checkbox" name="asientos" value="@contador" disabled />
                            </label>
                            contador++;
                            bandera = true;
                        }
                    }
                    if (bandera == false)
                    {
                        <label>
                            @contador
                            <input type="checkbox" name="asientos" value="@contador" />
                        </label>
                        contador++;
                    }
                }
            }
            <button type="submit" class="btn btn-primary">Realizar Pago</button>
        }
    }
</body>