@using Microsoft.AspNet.Identity
@model CineAvanzada.Models.Compra
@{
    ViewBag.Title = "Pago";
}
<head>
    @Styles.Render("~/Content/css")
    <script src="~/Scripts/jquery-1.10.2.min.js" type="text/javascript"></script>
    <script src="~/Scripts/jquery-masked.js" type="text/javascript"></script>
    <script type="text/javascript">
        jQuery(function ($) {
            $("#cedula").mask('9-9999-9999');
            $("#numTarjeta").mask('9999 9999 9999 9999');
            $("#codTarjeta").mask('9999');
            $("#fechaVencimiento").mask('99/9999');
        });
    </script>
    <script type="text/javascript">

    </script>
</head>
<body>
    @if (Model.Asientos != null)
    {
        <div class="text-center">
            <h2>@Model.Pelicula.Nombre</h2>
            <img src=@Model.Pelicula.Imagen width="300" height="250" />
            <h2>Fecha y Hora: @Model.Tanda.Fecha</h2>
            <p>
                Selecciono:<br />
                &nbsp;@Model.EntradasAdulto entradas para adulto regular<br />
                @if (Model.Tanda.PrecioNino != 0)
                {
                <p>
                    &nbsp;@Model.EntradasNino entradas para niño<br />
                </p>
                }
                &nbsp;@Model.EntradasAdultoMayor entradas para adulto mayor<br />
                <br />
                Total de entradas: @Model.TotalEntradas<br />
                <br>
                Sus asientos son :<br />
                @foreach (var Asiento in Model.Asientos)
                {
                    <p>
                        &nbsp;Asiento: @Asiento.idAsiento<br />
                    </p>
                }
            </p>
                <h2>Precio Total: ₡ @Model.PrecioTotal</h2>
            </div>
            <br><br>
            <div class="text-center">
                @using (Html.BeginForm("Factura", "Cartelera"))
                {
                    <table align="center">
                        <tr>
                            <td><label>Digite su nombre:</label></td>
                            <td><input type="text" name="nombre" required /></td>
                        </tr>
                        <tr>
                            <td><label>Digite su cedula:</label></td>
                            <td><input type="text" name="cedula" id="cedula" required /></td>
                        </tr>
                        <tr>
                            <td><label>Seleccione la tarjeta:</label></td>
                            <td>
                                <select name="tarjetas">
                                    <option value="Visa" selected>Visa</option>
                                    <option value="Mastercard">Mastercard</option>
                                    <option value="American Express">American Express</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td><label>Numero de la tarjeta:</label></td>
                            <td><input type="text" name="numTarjeta" id="numTarjeta" required /></td>
                        </tr>
                        <tr>
                            <td><label>Codigo de seguridad:</label></td>
                            <td><input type="text" name="codTarjeta" id="codTarjeta" required /></td>
                        </tr>
                        <tr>
                            <td><label>Fecha Vencimiento:</label></td>
                            <td><input type="text" name="fechaVencimiento" id="fechaVencimiento" required /></td>
                        </tr>
                    </table>
                    <br />
                    if (Request.IsAuthenticated)
                    {
                        <input type="text" name="usuario" id="usuario" style="display:none" value="@User.Identity.GetUserId()"/>
                    }
                    else
                    {
                        <input type="text" name="usuario" id="usuario" style="display:none" value="Ninguno" />
                    }
                    <br />
                    <button type="submit" class="btn btn-primary">Realizar Compra</button>
                }
            </div>
    }
</body>