@model List<CineAvanzada.Models.MasVendida>
@{
    ViewBag.Title = "MasVistas";
}
<head>
    @Styles.Render("~/Content/css")
</head>
<body>
    <br><br />
    <div class="text-center">
        <h1>Estas son las 3 peliculas mas vendidas del momento</h1>
    </div>
    <br><br />
    <table class="table" align="center" border=1 frame="box" rules="all" cellspacing=1 cellpadding=1>
        @foreach (var MasVendida in Model)
        {
            <tr>
                <td style="border:hidden">
                    <img src=@MasVendida.Imagen width="250" height="200" />
                </td>
                <td style="border:hidden">
                    Nombre: @MasVendida.Nombre<br>
                    Generos: @MasVendida.Genero<br>
                    Director: @MasVendida.Director<br>
                    Duracion: @MasVendida.Duracion minutos<br>
                    Fecha de Estreno: @MasVendida.FechaEstreno.Day / @MasVendida.FechaEstreno.Month / @MasVendida.FechaEstreno.Year<br>
                    Sinopsis:<br>@MasVendida.Sinopsis<br>
                </td>
                <td style="border:hidden">
                    <label class="input-Personal">@MasVendida.EntradasVendidas entradas vendidas</label>
                </td>
            </tr>
        }
    </table>
</body>